.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.todoListWrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid #000000;
}
